@import '../../index.scss';

html {
  body {
    #root {
      .app {
        .hero {
          box-sizing: border-box;
          width: 100%;
          display: flex;
          height: 700px;
          padding: 75px 100px;
          justify-content: space-between;

          .left,
          .right {
            width: 500px;
          }

          .left {
            h1 {
              color: $primary-color;
              font-family: sans-serif;
              font-size: 3.5em;
              margin: 0px 0px 20px 0px;
            }

            div {
              font-family: sans-serif;
              font-size: 1.2em; 
              line-height: 1.4em;
              font-weight: 300;
              margin-bottom: 20px;
            }

            .version {
              font-size: 1em;
              font-weight: 400;
              color: #777;
            }

            .buttons {
              display: flex;
              justify-content: space-between;

              a {
                button {
                  background: transparent;
                  height: 60px;
                  width: 240px;
                  border-radius: 6px;
                  font-size: 1.2em;
                }

                .cta {
                  color: $secondary-color;
                  border: 1px solid darken($secondary-color, 10%);
                  transition: background-color 0.25s ease-in-out;
                }

                .cta:hover {
                  color: #fff;
                  background-color: $secondary-color;
                }

                .download {
                  color: #777;
                  border: 1px solid #777;
                  transition: background-color 0.25s ease-in-out;
                }

                .download:hover {
                  color: #fff;
                  background-color: #777;
                }
              }
            }
          }

          .right {
            display: flex;
            justify-content: center;

            img {
              height: 500px;
              width: 500px;
            }
          }
        }

        .quick-links {
          display: flex;
          height: 350px;
          justify-content: space-between;
          background: #eee;
          padding: 50px;

          .column {
            width: calc(100% / 3);
            padding-right: 50px;

            .icon {
              width: 45px;
              height: 50px;
            }

            .cloud,
            .chart {
              width: 55px;
            }

            h2 {
              font-family: sans-serif;
              margin-bottom: 10px;
            }

            div {
              margin-bottom: 10px;
              font-family: sans-serif;
              font-weight: 300;
              line-height: 25px;
            }

            .code {
              line-height: 30px;
              font-family: monospace;
            }

            .script {
              height: 50px;
              overflow-x: scroll;
              white-space: nowrap;
              font-family: monospace;
              font-size: 1.2em;
              margin-bottom: 15px;

              .d-blue {
                color: rgb(81, 81, 126);
              }

              .l-blue {
                color: rgb(53, 148, 236);
              }

              .red {
                color: $primary-color;
              }
            }

            a {
              button {
                height: 50px;
                width: 175px;
                border-radius: 6px;
                background: transparent;
                font-size: 0.9em;
                font-weight: 600;
                border: 1px solid #167ffb;
                color: #167ffb;
                transition: background-color 0.25s ease-in-out;
              }

              button:hover {
                background-color: #167ffb;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}