@import '../../index.scss';

html {
  body {
    #root {
      .app {
        .profile {
          height: calc(100vh - 303px);
          display: flex;
          flex-direction: column;
          padding: 100px;
          align-items: center;

          .top {
            border: 1px solid $secondary-color;
            width: 60%;
            border-radius: 6px;
            padding: 25px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;

            .info {
              div {
                margin-bottom: 20px;
                font-size: 1.3em;
                color: #444;
                font-weight: 800;
                font-family: sans-serif;

                .label {
                  font-size: 0.6em;
                  text-transform: uppercase;
                  color: #444;
                  font-family: sans-serif;
                  font-weight: 300;
                }

                .public {
                  color: #fff;
                  background-color: darken($secondary-color, 20%);
                  border-radius: 6px;
                  font-weight: 400;
                  font-family: sans-serif;
                  padding: 5px;
                  font-size: 0.6em;
                }

                .private {
                  color: #fff;
                  background-color: $primary-color;
                  border-radius: 6px;
                  font-weight: 400;
                  font-family: sans-serif;
                  padding: 5px;
                  font-size: 0.6em;
                }
              }
            }
            .edit-profile {
              height: 45px;
              width: 150px;
              border-radius: 6px;
              background: $primary-color;
              color: #fff;
              font-size: 1em;
              transition: background-color 0.25s ease-in-out;
            }

            .edit-profile:hover {
              background-color: lighten($primary-color, 5%);
              cursor: pointer;
            }
          }

          .api {
            border: 1px solid $secondary-color;
            width: 60%;
            border-radius: 6px;
            padding: 25px;
            display: flex;
            justify-content: center;
            align-items:center;
            font-family: sans-serif;
            font-size: 1.4em;
            color: $primary-color;
            font-weight: 800;

            .label {
              font-size: 0.6em;
              text-transform: uppercase;
              color: #444;
              margin-right: 10px;
              font-weight: 600;
            }

            button {
              height: 35px;
              width: 175px;
              border-radius: 6px;
              background: $primary-color;
              color: #fff;
              font-size: 0.6em;
              transition: background-color 0.25s ease-in-out;
            }

            button:hover {
              background-color: lighten($primary-color, 5%);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}