html {
  body {
    #root {
      .app {
        .examples {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: #444;
          font-family: sans-serif;

          h1 {
            width: 60%;
            margin-right: 0;
            border-bottom: 1px solid #444;
            padding-bottom: 10px;
            margin-top: 80px;
          }

          .content {
            width: 60%;
  
            div {
              margin: 25px 0px 0px 0px;
              font-size: 1.2em;
              font-family: sans-serif;
              font-weight: 300;
              line-height: 30px;
  
              .bold {
                font-weight: bold;
              }
            }
  
            .code {
              margin: 10px 0px 40px 0px;
              background: #eee;
              line-height: 40px;
              padding: 0px 10px;
              font-family: monospace;
            }

            .block {
              margin: 0;
            }

            .second {
              padding-left: 40px;
            }

            .last {
              margin-bottom: 70px;
            }
          }
        }
      }
    }
  }
}