@import '../../index.scss';

html {
  body {
    #root {
      .app {
        .header {
          background:$primary-color;
          display: flex;
          flex-shrink: 0;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          padding: 0px 15px;

          img {
            height: 50px;
          }
        }
      }
    }
  }
}