@import '../../index.scss';

html {
  body {
    .ReactModalPortal {
      .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        background-color: $overlay-color;

        .edit-profile-modal {
          width: 350px;
          height: 400px;

          .edit-profile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            .edit-profile_form {
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              background:  #fff;
              border-radius: 6px;

              h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: sans-serif;
                width: 100%;
                height: 50px;
                position: absolute;
                top: 0;
                background: $primary-color;
                color: #fff;
                border-bottom: 3px solid $secondary-color;
                justify-self: flex-start;
                margin: 0;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
              }

              input {
                width: 80%;
                height: 50px;
                margin: 25px 0px 0px 0px;
                border-radius: 6px;
                padding: 0px 10px;
                font-size: 1em;
                border: 1px solid $primary-color;
              }

              input:last-child {
                margin-bottom: 10px;
              }

              .privacy {
                margin-top: 20px;

                label {
                  font-size: 0.9em;
                  margin-right: 20px;
                  color: #444;
                }
              }

              .btn {
                width: 100px;
                height: 40px;
                margin: 20px 0px 20px 0px;
                background: $secondary-color;
                color: #fff;
                font-size: 1em;
                border-radius: 6px;
                transition: background-color 0.25s ease-in-out;
              }

              .btn:hover {
                background: darken($secondary-color, 10%);
              }

              div {
                font-family: sans-serif;
                color: #777;
              }
            }
          }
        }
      }
    }

    #root {
      .blur {
        filter: blur(2px);
      }

      .app {
        .header {
          .btn-wrapper {
            .register {
              height: 40px;
              width: 80px;
              border: 1px solid $secondary-color;
              border-radius: 6px;
              color: #fff;
              background: $primary-color;
              font-size: 1em;
              font-weight: 600;
              margin-left: 15px;
              transition: background-color 0.25s ease-in-out;
            }

            .register:hover {
              background: $secondary-color;
            }
          }
        }
      }
    }
  }
}