@import '../../index.scss';

html {
  body {
    #root {
      .app {
        .footer {
          display: flex;
          justify-content: center;
          align-items: center;
          background: $primary-color;
          color: #fff;
          border-top: 3px solid $secondary-color;
          height: 40px;
          font-family: sans-serif;
          font-size: 0.8em;
        }
      }
    }
  }
}