@import '../../index.scss';

.featureContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 0;
  .feedTable{
    width: 800px;
    height: 500px;
    overflow-y: scroll;
    margin: 10px;
    padding: 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    .label{
      border-bottom: 2px solid #ccc;
    }
    
    .feedTableItem{
      &:nth-child(even) {
        background: #fae6e6;
      }
      display:flex;
      flex-flow: row nowrap;
      padding: 8px;
      .feedTableData{
        width: 20%;
      }     
    }
  }
}