@import '../../index.scss';

.featureContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 0 0;

  .heading {
    font-size: 1.5em;
  }

  .feedTable {
    width: 800px;
    height: 500px;
    overflow-y: scroll;
    margin: 20px 0px 0px 0px;
    padding: 0;
    border: 1px solid $secondary-color;
    border-radius: 5px;

    .label {
      border-bottom: 1px solid $secondary-color;
      text-transform: uppercase;
      font-size: 0.8em;
      color: $secondary-color;
    }
    
    .feedTableItem {
      &:nth-child(even) {
        background: #f4fff3;
      }

      display:flex;
      flex-flow: row nowrap;
      padding: 8px;

      .feedTableData {
        width: 20%;
        font-size: 0.9em;
      }     

      .date {
        font-size: .8em;
        color: #777;
      }
    }
  }
}